# Node
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local

# Netlify local
.netlify

# TypeScript
*.tsbuildinfo

# Generated native folders
app_build/ios/
app_build/android/
